*.tfstate
*.tfstate.*
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.idea
*.retry
jdauphant.nginx

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

# Vitrual env
ansible/Pip*
